.margin-bottom_10px {
  margin-bottom: 10px;
  object-fit: cover;
}

.margin-bottom_20px {
  margin-bottom: 20px;
}

.margin-bottom_30px {
  margin-bottom: 30px;
}

.margin-bottom_40px {
  margin-bottom: 40px;
}

.margin-bottom_50px {
  margin-bottom: 50px;
}

.margin-bottom_60px {
  margin-bottom: 60px;
}

.margin-bottom_70px {
  margin-bottom: 70px;
}

.margin-bottom_80px {
  margin-bottom: 80px;
}

.margin-bottom_100px {
  margin-bottom: 100px;
}

.container {
  max-width: 1190px;
  /* max-width: 1700px; */
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 36px;
}

.title:hover {
  animation: bounce 1s;
}

.text {
  line-height: 1.3;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(../img/header-pic.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.header__top-inner {
  /* изменила */
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top {
  margin-bottom: 226px;
}

.header__title {
  color: #fff;
  font-size: 80px;
}

.header__subtitle {
  font-size: 58px;
}

.menu {
  color: #fff;
}

.menu__list {
  display: flex;
}

.menu__list-item:not(:last-child) {
  margin-right: 20px;
}

.arrow-up {
  position: fixed;
  top: 86%;
  left: 94%;
  z-index: 40;
}

.arrow-up svg:hover {
  stroke:rgb(102, 153, 0);
}


.emotions {
  padding: 80px 0;
}

.emotions__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 104px;
}

.nature {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, transparent 0%, rgba(233, 245, 245, 0.5) 0), url(../img/nature.avif) center/cover no-repeat;
}

.nature__inner {
  padding-top: 60px;
}

.nature__text {
  width: 788px;
}

.riding {
  padding: 80px 0;
}

.riding__inner_span {
  font-weight: bold;
  font-size: 20px;
}

.riding__inner-top_text-container {
  display: flex;
  gap: 28px;
}

.riding__inner-top_text {
  max-width: 570px;
}

.service {
  padding: 0 0 40px;
}

.service__inner {
  /* color: green; */
}

.service__inner-bottom {
  padding: 80px 0;
  position: relative;
  height: 90vh;
}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #a7a7a7;
  opacity: 0.5;
}

.horse-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
}

.service__inner-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 18px;
}

.service__inner-card {
  text-align: center;
  padding: 20px 10px;
  border-radius: 8px;
  max-width: 296px;
  width: 33.33%;
  height: 300px;
  background: linear-gradient(120deg, rgba(225, 234, 62, 0.7), rgba(103, 129, 92, .7));
}

.service__inner-card_title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.1;
}

.service-icon {
  /* display: inline-block;
  text-align: center; */
}

.map {
  padding: 60px 0 20px;
  width: 100%;
  height: 80vh;
  background: linear-gradient(to right, transparent 0%, rgba(233, 245, 245, 0.5) 0), url(../img/map.avif) center/cover no-repeat;
}

.iframe {
  width: 100%;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.reviews {
  padding: 80px 0;
}

.reviews__container {
  max-width: 896px;
}

.reviews__item-title {
  min-height: 36px;
  font-weight: bold;
  font-size: 20px;
}

.reviews__item-info {
  max-width: 340px;
  margin-left: 24px;
}

.reviews__slider {
  position: relative;
}

.swiper-slide {
  /* add */
  flex-direction: column;
  align-items: center;
  display: flex;

}


.reviews__item-link {
  padding: 4px 6px;
  /* text-decoration: underline; */
  border-bottom: 1px solid rgb(45 61 37);
  color: rgb(45 61 37);
}

.reviews__item-link:hover {
  color: #bec85f;
  border-bottom: 1px solid #bec85f;
}


.swiper-wrapper {
  padding: 80px 0;
}

.swiper-button-next {
  /* position: absolute; */
  top: 95%;
  left: 57%;
  color: rgb(45 61 37);
}

.swiper-button-prev {
  top: 95%;
  left: 40%;
  color: rgb(45 61 37);
}

.footer {
  padding: 60px 0 20px;
  background-color: #bec85f;
}

.footer-top_container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-bottom_container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-top__inner-title {
  text-align: center;
  min-height: 36px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(45 61 37);
}

.footer-top_menu-items {
  min-height: 40px;
  display: flex;
  justify-content: space-around;
}

.footer-top_menu-item {
  display: flex;
  align-items: center;
}

.footer-top_menu-link {
  text-align: center;
  display: inline-block;
  margin-right: 14px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-top_menu-link svg {
  display: inline-block;
}

.footer-top_menu-item_span {
  display: inline-block;
  color: rgb(45 61 37);
  font-size: 16px;
}

/* всплывающее окно */

.close-modal {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 50px;
  color: rgb(45 61 37);
  cursor: pointer;
  border: none;
  background: none;
}

.modal h4{
  color:rgb(45 61 37);
  font-weight: bold;
  font-size: 19px;
}

.modal form [name="textarea"]{
  display: inline-block;
  width: 96%;
  /* line-height: 30%; */
  padding: 10px 16px;
  font-size: 18px;
  border: 2px solid rgb(45 61 37);
  border-radius: 4px;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  /* height: 45%; */
  background: linear-gradient(120deg, rgb(225, 234, 62), rgb(103, 129, 92));
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}




.hr {
  border: none;
  border-top: 2px solid rgb(45 61 37);
  opacity: 0.1;
  width: 100%;
  display: inline-block;
}

.footer-container_social {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-top_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .footer-top_menu-link:hover {
  fill: rgb(116, 51, 114);
  color: rgb(94, 116, 51);
} */

/* .footer-top_menu-link span:hover {
  color: rgb(94, 116, 51);
} */




.footer-top_social-link-twitter:hover,
.footer-top_social-link-youtube:hover,
.footer-top_social-link-pinterest:hover {
  fill: rgb(94, 116, 51);
}

.footer-top_social-link-telegram:hover {
  stroke: rgb(94, 116, 51);
  fill: none;
}


.footer-bottom__inner {
  display: flex;
  justify-content: center;
}


/* Анимированная кнопка "забронировать" */

.btn {
  display: inline-block;
  background-color: transparent;
  border: 2px solid rgb(45 61 37);
  border-radius: 8px;
  color: rgb(45 61 37);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 28px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
}

.btn:hover,
.btn:focus {
  color: #bec85f;
  outline: 0;
  box-shadow: 0 0 40px 40px rgb(48, 61, 43) inset;
  /* border: none; */
}


/* .reserve-btn {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
} */

/* .reserve-btn:hover {
  box-shadow: 0 0 40px 40px rgb(48, 61, 43) inset;
} */

/* прыгучесть заголовка */

.title:hover,
.header__title:hover,
.header__subtitle:hover {
  animation: bounce 1s;
}

@keyframes bounce {

  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}


/* подчеркивание меню */


.menu__list-link {
  display: inline-block;
  color: #fff;
  /* Цвет обычной ссылки */
  line-height: 1.8;
  text-transform: uppercase;
}

.menu__list-link:after {
  background-color: rgb(23, 77, 101);
  /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px;
  /* Высота линии */
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.menu__list-link:hover:after,
.menu__list-link:focus:after {
  width: 100%;
}

.menu__list-item {
  -webkit-text-shadow: 2.4px 0px 0px rgba(1, 7, 8, 0.8);
  -moz-text-shadow: 2.4px 0px 0px rgba(1, 7, 8, 0.8);
  text-shadow: 2.3px 1.2px 0px rgba(1, 7, 8, 0.8);
}

.header__title,
.header__subtitle {
  -webkit-text-shadow: 8px 0px 0px rgba(1, 7, 8, 0.8);
  -moz-text-shadow: 8px 0px 0px rgba(1, 7, 8, 0.8);
  text-shadow: 8px 0px 0px rgba(1, 7, 8, 0.8);
}

.hamburger {
  display: none;
}

.hamburger_close {
  display: none;
}

/* сияние логотипа */

.logo svg:hover {
  /* stroke:rgba(23, 77, 101, 0.7); */
  /* stroke-width:2; */
  stroke: rgb(93, 233, 233);
  stroke-width: 1.6;
}

.logo {
  display: inline-block;
  transition: 0.25s;
}

body.lock {
  overflow: hidden;
}


@media(hover: hover) {
  .logo svg:hover {
    stroke: rgb(93, 233, 233);
    stroke-width: 1.6;
  }

  .menu__list-link:hover:after,
  .menu__list-link:focus:after {
    width: 100%;
  }

  .reserve-btn:hover {
    box-shadow: 0 0 40px 40px rgb(48, 61, 43) inset;
  }

  .btn:hover,
  .btn:focus {
    color: #bec85f;
    outline: 0;
  }

  .reviews__item-link:hover {
    color: #bec85f;
    border-bottom: 1px solid #bec85f;
  }
}

@media(hover:none) {
  .logo svg:hover {
    stroke: rgb(93, 233, 233);
    stroke-width: 1.6;
  }

  .menu__list-link:hover:after,
  .menu__list-link:focus:after {
    width: 100%;
  }

  .reserve-btn:hover {
    box-shadow: 0 0 40px 40px rgb(48, 61, 43) inset;
  }

  .btn:hover,
  .btn:focus {
    color: #bec85f;
    outline: 0;
  }

  .reviews__item-link:hover {
    color: #bec85f;
    border-bottom: 1px solid #bec85f;
  }
}

@media(max-width: 1660px) {

  .header-content {
    /* height: 800px; */
    height: 890px;
  }

  .nature {
    /* height: 600px; */
    height: 890px;
  }

  .service__inner-bottom {
    height: 1000px;
  }

  .map {
    /* height: 694px; */
    height: 890px;
  }

  .service__inner-cards {
    flex-wrap: wrap;
    width: 100%;
  }

  .service__inner-card {
    height: 372px;
    width: 33.33%;
  }

}

@media(max-width: 1199px) {
  /* .btn-up-svg {
    display: none;
  } */

  .container {
    width: 960px;
  }

  .header-content,
  .nature,
  .service__inner-bottom {
    height: 700px;
  }

  .header__top {
    margin-bottom: 210px;
  }

  .header__title {
    font-size: 58px;
  }

  .header__subtitle {
    font-size: 38px;
  }

  .emotions__inner {
    flex-direction: column;
    gap: 44px;
  }

  .emotions__inner-picture img {
    height: 400px;
  }

  .nature__text {
    width: 100%;
  }

  /* .horse-video{
    height: 1100px;
  } */
  .horse-video,
  .video-overlay {
    height: 928px;
  }

  .reviews {
    padding: 260px 0 60px;
  }
}


@media(max-width: 991px) {
  .container {
    width: 720px;
  }

  .logo svg {
    height: 70px;
    width: 70px;
  }

  .menu__list {
    font-size: 14px;
  }

  .header__bottom-inner,
  .title {
    text-align: center;
  }

  .header__title {
    text-shadow: 4px 0px 0px rgba(1, 7, 8, 0.8);
  }

  .header__subtitle {
    font-size: 34px;
    text-shadow: 4px 0px 0px rgba(1, 7, 8, 0.8);
  }

  .riding__inner-top_text-container {
    flex-direction: column;
    gap: 10px;
  }

  .riding__inner-top_text {
    width: 100%;
    margin: 0 auto;
  }

  .horse-video,
  .video-overlay {
    height: 1300px;
  }

  .service__inner-cards {
    margin-bottom: 24px;
  }

  .service__inner-card {
    width: 50%;
  }
  

  .service__inner-card_title {
    font-size: 18px;
  }

  .btn {
    font-size: 12px;
  }

  .reviews {
    padding: 600px 0 40px;
  }

  .reviews__item img {
    width: 299px;
    height: 320px;
  }

  .reviews__item-info {
    max-width: 250px;
  }

  .swiper-button-next {
    position: absolute;
    top: 5%;
    left: 49%;
  }

  .swiper-button-prev {
    left: 47%;
  }

  .footer-top_menu-link {
    flex-direction: column;
  }

  .footer-top_menu-item svg,
  .footer-top_social-link svg {
    width: 40px;
    height: 40px;
  }

  .footer-top_menu-item_span {
    font-size: 14px;
  }

  .footer-bottom_copy {
    font-size: 14px;
  }

}

@media (min-width: 768px) {
  .header-content .hamburger {
    display: none;
  }
}

@media(max-width: 767px) {

  .container {
    max-width: 540px;
  }
   .hamburger {
    width: 52px;
    height: 52px;
    display: block;
    background: #fff;
    color: rgb(23, 77, 101);
    font-size: 46px;
    text-align: center;
    border-radius: 50%;
    border: 1.3px solid rgb(23, 77, 101);
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 30;
  }

  .hamburger_close {
    width: 52px;
    height: 52px;
    color: #fff;
    font-size: 46px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 34;
  }


  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    background: rgb(23, 77, 101);
    z-index: 20;
    width: 100%;
    transition: 0.6s all;
  }

  .menu_active {
    right: 0;
    padding-top: 70px;
  }

  .menu__list {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .menu__list-item {
    margin-right: 0;
  }

  .menu__list-link {
    text-shadow: none;
    padding: 10px 20px;
  } 

  .header__title {
    font-size: 46px;
  }

  .header__subtitle {
    font-size: 24px;
  }

  .arrow-up svg {
    display: none;
  }

  .emotions__inner-picture img {
    width: 100%;
  }

  .service__inner-card {
    width: 100%;
  }

  .nature {
    height: 760px;
  }

  .riding__inner-bottom img {
    height: 380px;
  }

  .horse-video,
  .video-overlay {
    height: 2500px;
  }

  .reviews {
    padding: 1800px 0 40px;
  }

  .swiper-wrapper {
    padding: 92px 0;
  }

  .footer-top_menu-item svg,
  .footer-top_social-link svg {
    width: 30px;
    height: 30px;
  }

  .footer-top_menu-item_span {
    font-size: 12px;
  }

  .footer-bottom_copy {
    font-size: 12px;
  }

}

@media(max-width: 575px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 31px;
  }

  .header__title {
    font-size: 36px;
  }

  .header__subtitle {
    font-size: 18px;
  }

  .emotions__inner-picture img {
    height: 400px;
  }

  .riding__inner-bottom img {
    height: 300px;
  }

  .footer-top__inner-title {
    font-size: 16px;
  }

}

@media(max-width: 371px) {
  .header__title {
    font-size: 26px;
  }

  .header__subtitle {
    font-size: 14px;
  }

  .emotions__inner-picture img {
    height: 200px;
  }

  .riding__inner-bottom img {
    height: 200px;
  }
}